# ============================================
# Bot Configuration
# ============================================
BALE_BOT_TOKEN=bot token
BALE_API_URL=https://tapi.bale.ai

DEBUG=false
DEBUG_VERSE_LIMIT=20

# ============================================
# Quran API Configuration
# ============================================
QURAN_API_URL=https://api.example.com # it could be a local api server/pc too
MUSHAF=hafs
TRANSLATOR_UUID=String of translator UUID


# Pagination (تعداد آیتم در هر صفحه)

PAGE_SIZE=200

# ============================================
# Scheduled Message Configuration
# ============================================

SCHEDULE_PUBLIC_HOUR=14
SCHEDULE_PUBLIC_MINUTE=44


SCHEDULE_USER_HOUR=15
SCHEDULE_USER_MINUTE=16

SCHEDULE_TIMEZONE=Asia/Riyadh


CHANNEL_IDS=channel_id
GROUP_IDS=
USER_IDS=user_id_1,user_id_2

# Channel ID for reference at the end of the message
BOT_ID=TestBot
