# =====================================================
# Application
# =====================================================
APP_NAME=Quran Bot
DEBUG=false
LOG_LEVEL=INFO

# =====================================================
# Telegram / Bale Bot
# =====================================================
BOT_TOKEN=YOUR_BOT_TOKEN
BOT_USERNAME=@NatiqChatBot

# Telegram:
BOT_API=https://api.telegram.org/

# Bot Admin/owners id
ADMIN_USER_IDS=

# =====================================================
# Database
# =====================================================
POSTGRES_DB=quran_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# =====================================================
# Redis
# =====================================================
REDIS_URL=redis://redis:6379/0

# =====================================================
# Natiq API
# =====================================================
NATIQ_API_URL="http://192.168.1.128:2020"
NATIQ_PRIMARY_API="http://192.168.1.128:2020"
OPEN_IN_NATIQ_BASE_URL="http://192.168.1.128:2020"

NATIQ_API_TIMEOUT=30

# =====================================================
# Quran Source
# =====================================================
# Mushaf UUID or API identifier if required
# Keep this configurable.
#
# Example:
# hafs
# uthmani
QURAN_MUSHAF=hafs

# =====================================================
# Translation
# =====================================================

# Translation language selector.
#
# This is NOT a UUID.
#
# Provider will:
#
# 1. Load /translations/
# 2. Find matching language
# 3. Extract UUID
# 4. Load translation ayahs
#
# Examples:
#
# fa
# en
# tr
# ar
QURAN_TRANSLATION_LANGUAGE=fa

# =====================================================
# Daily Ayah Settings
# =====================================================

# Default time for daily ayah (configured timezone)
# Format: HH:MM
DAILY_AYAH_DEFAULT_TIME=12:00

# Default timezone for daily ayah
# Users can be asked to provide their timezone for personalized scheduling
DAILY_AYAH_DEFAULT_TIMEZONE=Asia/Riyadh

# =====================================================
# Cache
# =====================================================
CACHE_ENABLED=true

# =====================================================
# Docker
# =====================================================
TZ=Asia/Riyadh
BOT_IMAGE=natiqquran/bot:latest
