# Environment
.env
.env.local
.env.docker

# Python
.venv/
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Packaging artifacts
quran_bot.egg-info
*.egg-info/

# Ignore Build
build/

# OS
.DS_Store
